<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Deck</title>
  </head>
  <body>
      <header>
        <a href="/">Home</a>
      </header>
    <form class="" action="/decks/create" method="post">
      <input type="text" name="name" value="">
      <button type="submit" name="button">Save deck</button>
    </form>

  </body>
</html>
